<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3 >Add Products</h3>
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>English Description</label>
            <input type="text" [(ngModel)]="english_description" formControlName="english_description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.english_description.errors }" />
            <div *ngIf="submitted && f.english_description.errors" class="invalid-feedback">
              <div *ngIf="f.english_description.errors.required">English Description is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>French Description</label>
            <input type="text" [(ngModel)]="french_description" formControlName="french_description" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.french_description.errors }" />
            <div *ngIf="submitted && f.french_description.errors" class="invalid-feedback">
              <div *ngIf="f.french_description.errors.required">French Description is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>English brand name</label>
            <input type="text" [(ngModel)]="brand_name_english" formControlName="brand_name_english" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.brand_name_english.errors }" />
            <div *ngIf="submitted && f.brand_name_english.errors" class="invalid-feedback">
              <div *ngIf="f.brand_name_english.errors.required">Brand Name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>French brand name</label>
            <input type="text" [(ngModel)]="brand_name_french" formControlName="brand_name_french" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.brand_name_french.errors }" />
            <div *ngIf="submitted && f.brand_name_french.errors" class="invalid-feedback">
              <div *ngIf="f.brand_name_french.errors.required">French brand name is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Product Type</label>
            <input type="text" [(ngModel)]="type" formControlName="type" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
            <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
              <div *ngIf="f.type.errors.required">Product Type is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Identification</label>
            <input type="text" [(ngModel)]="identification" formControlName="identification" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.identification.errors }" />
            <div *ngIf="submitted && f.identification.errors" class="invalid-feedback">
              <div *ngIf="f.identification.errors.required">Identification is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Img URL</label>
            <input type="text" [(ngModel)]="img_url" formControlName="img_url" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.img_url.errors }" />
            <div *ngIf="submitted && f.img_url.errors" class="invalid-feedback">
              <div *ngIf="f.img_url.errors.required">Img Url is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Status</label>
            <input type="text" [(ngModel)]="status" formControlName="status" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Status is required</div>
            </div>
          </div>

          <div class="form-group">
            <label>Target Market</label>
            <input type="text" [(ngModel)]="target_market" formControlName="target_market" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.target_market.errors }" />
            <div *ngIf="submitted && f.target_market.errors" class="invalid-feedback">
              <div *ngIf="f.target_market.errors.required">Target Market is required</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
