<!-- <form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3 md-form">
      <label for="validationCustom012">First name</label>
      <input type="text" class="form-control" id="validationCustom012" placeholder="First name" value="Mark" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3 md-form">
      <label for="validationCustom022">Last name</label>
      <input type="text" class="form-control" id="validationCustom022" value="Otto" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3 md-form">
      <label for="validationCustomUsername2">Username</label>
      <input type="text" class="form-control" id="validationCustomUsername2" aria-describedby="inputGroupPrepend2"
        required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3 md-form">
      <label for="validationCustom032">City</label>
      <input type="text" class="form-control" id="validationCustom032" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3 md-form">
      <label for="validationCustom042">State</label>
      <input type="text" class="form-control" id="validationCustom042" required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3 md-form">
      <label for="validationCustom052">Zip</label>
      <input type="text" class="form-control" id="validationCustom052" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check pl-0">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-sm btn-rounded" type="submit">Submit form</button>
</form> -->

<hr>
<div class="text-center">Add Products</div>
<div class="text-center">*Add Products img goes here*</div>


<div class="container">
  <form class="needs-validation" novalidate>

    <div class="form-row">
      <input type="text" class="form-control" [(ngModel)]="english_description" required placeholder="Product English*" name="english_description">
    </div>

    <div class="form-row">
      <input type="text" class="form-control" [(ngModel)]="french_description" required placeholder="Product French*" name="french_description">
    </div>

    <div class="form-row">
      <input type="text" class="form-control" [(ngModel)]="brand_name_english" required placeholder="Brand Name English*" name="brand_name_english">
    </div>

    <div class="form-row">
        <input type="text" class="form-control" [(ngModel)]="brand_name_french" required placeholder="Brand Name French*" name="brand_name_french">
      </div>

    <!-- <div class="form-row">
      <select class="form-control" [(ngModel)]="type" required name="type">
          <option value="" disabled selected>Product Type*</option>
        <option value="type1">type1</option>
        <option value="type2">type2</option>
        <option value="type3">type3</option>
      </select>
    </div> -->

    <div class="form-row">
      <input type="text" class="form-control" [(ngModel)]="identification" required placeholder="Additional Product Identification*" name="identification">
    </div>

    <!-- <div class="form-row">
      <select class="form-control" [(ngModel)]="english_description" required name="english_description">
          <option value="" disabled selected>Target Market*</option>
        <option value="market1">market1</option>
        <option value="market2">market2</option>
        <option value="market3">market3</option>
      </select>
    </div> -->

    <div class="form-row">
      <input type="text" class="form-control" [(ngModel)]="img_url" required placeholder="Product img URL*" name="img_url">
    </div>

    <!-- <div class="form-row">
      <select class="form-control" [(ngModel)]="status" required name="status">
          <option value="" disabled selected>Status*</option>
        <option value="status1">status1</option>
        <option value="status2">status2</option>
        <option value="status3">status3</option>
      </select>
    </div> -->

    <div class="text-center">
      <button class="btn btn-outline-warning btn-sm btn-rounded" type="cancel">Cancel</button>
      &nbsp;
      <button class="btn btn-outline-success btn-sm btn-rounded" type="submit" (submit)="addNewProduct()">Submit form</button>
    </div>

  </form>
</div>