<div class="row bg-dark ">



  <div class="float-right ">
    <!-- <small>
        <span>
            {{ cart.itemCount }} item(s)
            {{ cart.cartPrice | currency: "USD" : "symbol" : "2.2-2" }}
        </span>
    </small> -->
    <!-- disabled by default so you can only go to the cart if there is an item in it -->
    <!-- <button class="btn  bg-dark text-white">
      Home
    </button>
    <button class="btn  bg-dark text-white">
      Add Product
    </button>
    <button class="btn  bg-dark text-white">
      Search Product
    </button> -->

    <div class="container">
      <div class="row">
          <div class="col-4">
            <a href="#/products-available">Home</a>
          </div>
          <div class="col-4">
            <a href="#/add-product">Add Product</a>
          </div>
          <div class="col-4">
            <a href="#/search-product">Search Products</a>
          </div>
      </div>
    </div>



    <!-- <button class="btn btn-sm bg-dark text-white" [disabled]="cart.itemCount == 0" routerLink="/cart">
    <i class="fa fa-shopping-cart"></i>
  </button> -->
  </div>
</div>