<hr>
<div class="text-center">*Search products img goes here*</div>

<div class="container">
    <form class="needs-validation" novalidate>
  
      <div class="form-row">
        <!-- <p>Product Description English</p> -->
        <input type="text" class="form-control" placeholder="Product ID">
      </div>
  
      <div class="form-row">
        <!-- <p>Product Description French</p> -->
        <input type="text" class="form-control" placeholder="Product Description">
      </div>

      <div class="text-center">
          <button class="btn btn-outline-warning btn-sm btn-rounded" type="cancel">Reset</button>
          &nbsp;
          <button class="btn btn-outline-success btn-sm btn-rounded" type="submit">Search Products</button>
        </div>

</form>