<hr>
<div class="text-center"><h3 >Search Products</h3></div>

<div class="container">
    <form class="needs-validation" novalidate>
  
      <div class="form-row">
        <!-- <p>Product Description English</p> -->
        <input type="text" class="form-control" name="productID" placeholder="Product ID" [(ngModel)]="productId">
      </div>
  
      <div class="form-row">
        <!-- <p>Product Description French</p> -->
        <input type="text" class="form-control" name="productDescriptionEnglish" placeholder="Product Description" [(ngModel)]="productDescriptionEnglish">
      </div>

      <div class="col-12">
        <br/>
        <input (click)="search()" type="submit" id="submit" class="Ybutton" name="submit" value="Search">
          <!-- <button class="btn btn-outline-warning btn-sm btn-rounded" type="cancel">Reset</button> -->
          <!-- &nbsp; -->
         
        </div>

</form>

<table class="table">
  <thead class="thead-dark" *ngIf="products?.length">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Product Description English</th>
      <th scope="col">Product Description French</th>
      <th scope="col">Brand Name English</th>
      <th scope="col">Brand Name French</th>
      <th scope="col">Product Type</th>
      <th scope="col">Additional Product Identification</th>
      <th scope="col">Target Market</th>
      <th scope="col">Product Image URL</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tr *ngFor="let product of products">
    <td scope="row">{{product.id}}</td>
    <td>{{product.productDescriptionEnglish}}</td>
    <td>{{product.productDescriptionFrench}}</td>
    <td>{{product.brandNameEnglish}}</td>
    <td>{{product.brandNameFrench}}</td>
    <td>{{product.productType}}</td>
    <td>{{product.additionalProductIdentification}}</td>
    <td>{{product.targetMarket}}</td>
    <td>{{product.productImageUrl}}</td>
    <td>{{product.status}}</td>

    <!-- <td style="padding-top: 6px;">
      <button class="mdl-button" (click)="remove(symbol)">Remove</button> -->
    
  </tr>
</table>